@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body, html{
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.clusterNodeView {
  cursor: pointer;
}

.clusterText {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: rgb(48, 180, 136);
  stroke-width: 0px;
}

.node text {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.filtered{
	fill: #ff973e !important;
	stroke: #ff973e !important;
}

#visualisation{
	width: auto;
	height: 100%;
	overflow: auto;
}

#details h2{
	font-weight: 300;
	color: #aab9b9;
	font-size: 2em;
	text-align: center;
	padding-bottom: 15px;
	width: 90%;
  margin: 65px auto 0px auto;
	border-bottom: 1px solid #ececec;
}


#dropdown-suggestions  div div.list-group {
   width: 100%;
   border-radius: 0px;      
}

.search-suggestion-typeLabel {
  float: right;
	color: lightgray;
}

.search-suggestion-item{
  border:1px solid #ddd;
}

.search-suggestion-item:hover {
    background-color: lightblue;
    cursor: pointer;
}

.dropdown-menu {
  z-index: 10; 
  width : 500px;
  overflow-x: auto;
  max-height: 500px; 
}

.dd-display {
   position: absolute;
   width: 100%;
   border-radius: 0px;   
   
}

#filter{
	display: block;
	outline-style: none;
	height: 45px;
	width: 100%;
	font-size: 15px;
	border-radius: 0px;
	border: 0;
	text-align: center;
	border-bottom: 1px solid #EFEFEF;
	border-left: 1px solid #efefef;
	background-color: rgba(247, 247, 247, 0.79);
	padding: 15px 10px;
	box-sizing: border-box;
	transition: all 0.5s;
}


#filter:focus{
	box-shadow: none;
	border-bottom: 1px solid rgba(78, 174, 216, 0.73);
}

#filter_button{
	height: 45px;
	width: 60px;
	border-radius: 0;
}

#details #content{
	padding: 10px 25px;
}

.dispUri {
	padding-top: 0px;
	padding-bottom: 20px;
}

.skoslabel li{
	display: inline-block;
	margin: 0px;
	line-height: 20px;
}

.skoslabel li:first-letter{
	text-transform: uppercase;
}

h3.title{
	font-size: 1.8em;
	font-weight: 300;
}

h3.title:first-letter{
	text-transform: uppercase;
}

ul.skoslabel{
	padding-left: 0;
}

.skoslabel li:after{
	content: " / ";
}

li{
	list-style: none;

}


.resProp{
	line-height: 1.7;
}
.resprop-field{
	font-weight: bold;
	text-transform: capitalize;
}


#details strong{
	color: #3cbd98;
	font-weight: 400;
	font-size: 1.2em;
}

.arrow{
	background: url('../img/arrow.png');
	background-size: 12px 10px;
	transition: 0.3s;
	opacity: 0.2;
	border: 0;
	height: 10px;
	cursor: pointer;
	position: absolute;
  z-index:100;

}

.arrowBar{
  height:inherit;
  background-color: #15B59C;
  position: absolute;
  right:0px;
  top:0px;
}

#arrow_controlPanel{
    background-position: 0px 80px;
    background-repeat: no-repeat;
    opacity: 1;
}

.arrow_inArrowBar{

  right:0px;
  top:50%;
  position:absolute;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#arrow_detailedPanel{
  top: 50%;
  left: 5px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.caret{
	transition: all 0.3s;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}



.rotate180{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}



#circle circle {
  fill: none;
  pointer-events: all;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
  display: none;
}

#details{
  width: 500px;
  height: 100%;
  position: relative;
  float: right;
  background: #fff;
  box-shadow: 0px 0 15px -4px rgba(0, 0, 0, 0.17);
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  transition: 0.3s ease-in-out;
  padding-bottom: 10px;
}


#details a{
  color: #333;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
}



#chart{
  width: auto;
  height: 100%;
  overflow: auto;
  border:1px;
  z-index:0;
}

.main_vis {
  position:relative;
  float: left;
  border:2px;
  z-index:1;
}

/*for drop down menu*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    width:450px;;
    font-size: 15px;
    border: 10px solid white
    cursor: pointer;
    padding: 16px;
    text-align: left;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}


/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.Go_content {
    display: none;
    padding : 1px;
}

#pval-label {
  position: absolute;
  left: 100%;
  margin-left: -660px;
  padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);

	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
  z-index:2;
}

.pval-label i {
    width: 18px;
    height: 15px;
    float: left;
    margin-right: 3px;
    opacity: 0.8;
}

#control-panel{
  position: absolute;
  top: 0;
  left: 0;
  width: 558px;
  height: 160px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index:3;
  background: white;
  background: rgba(255,255,255,0.8);
  transition: 0.3s ease-in-out;
}

#input_slider{
  width:50px;
  left:340px;
  top:12px;
  position:relative;
  margin-top: -25px;
}

.sliderBar {
  height:20px;
  width:300px;
  left:20px;
  top:10px;
  position:relative;
  margin-top: auto;
}

/*opci.node {
  stroke: #fff;
  stroke-width: 1.5px;
}*/

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

text.node {
  font-family:Arial;
  font-size:8pt;
  font-weight:bold;
  text-anchor:middle;
  stroke:white;
  stroke-width:0.3px;
}

a {
  font-family:Arial;
  font-size:10pt;
}


#showcase {
  margin: 0 20px;
  text-align: center;
}
#range {
  height: 300px;
  margin: 0 auto 30px;
}
#value-span,
#value-input {
  width: 50%;
  float: left;
  display: block;
  text-align: center;
  margin: 0;
}

.RadioBox {
  height:20px;
  width:200px;
  left:20px;
  top: 30px;
  position:relative;
  margin-top: auto;
}

.rotate180{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

#searchBox{
    position: absolute;
    top: 45px;
}

.prop-field {
    font-weight: bold;
    text-transform: capitalize;
}

.gene_dropmenu{
  cursor:pointer;
}

.gene_content li{
    padding-left: 20px;
}

n {
    color: #15B59C;
    transition: all 0.2s;
}


n:hover {
    color: #15B59C;
    cursor:pointer;
}

.go_List li{
  padding-left: 40px;
}

.go_dropmenu{
  cursor:pointer;
}

#editor_save {
  float:right;
  right: 20px;
  position: relative;
}

.go_detail_content{
  padding-left: 20px;
  display: none;
}