<html ng-app="MonaGO">

<body>
<div id="details" ng-controller="searchCtrl">
    <div class="input-group" >
      <input type="text" id="filter" class="form-control" ng-model="searchText" ng-init="searchText=''" placeholder="Enter the gene name or GO term">
      <span class="input-group-btn">
        <button class="btn btn-primary" id="filter_button" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
     </div>


     <div >
      <div id="searchBox" ng-if="isNotEmpty(searchText)" class="scrollable list-group dropdown dropdown-menu">
        <div ng-repeat="GO in goArr|filter:searchText">
	        <div class="search-suggestion-item" ng-click="setSearchBox(GO.id)">
	        	{{GO.id}} {{GO.name}}
	        </div>
	    </div>
      </div>
     </div>
     <h2>Details</h2>
	<div style ="position: absolute;">
     
	    <div id="content">
	      <p>The visualisation on the left will help you to explore all the intersection between different GO terms(Data comes from <strong>demolist1</strong> on David)</p>
	      
	    </div>
	    
	</div>
	<button id="arrow"/>
	
</div>

<div id="chart"></div>

<div>
  <div id = "pval-label" class="pval-label"></div>

  <div id = "control-panel">

  <label style="font-size:16px">Cluster GO term according to the minimum number of common gene(s)</label>
    <div id="slider" class="sliderBar"></div>
    <input type="text" id="input_slider"/>
      <table class="RadioBox">
      <tbody>
        <tr>
          <td>
            <input id="labelRadioBox" class="radioButton" type="radio" name="radioBox" value="0" checked>
          </td>
          <td>
            <label for="labelRadioBox">Show GO term name</label>
          </td>
        </tr>
        <tr>
        <td></td>
        </tr>
        <tr>
          <td>
            <input id="hierClusterRadioBox"  class="radioButton" type="radio" name="radioBox" value="1" >
          </td>
          <td>
             <label style="width:300px;" for="hierClusterRadioBox">Show hierarchical tree and click on the node to manually cluster the GO term</label>
          </td>
            
        </tr>
      </tbody>
      </table>
    </div>

</div>




</body>
</html>

<link rel="stylesheet" href="css/nouislider.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">



<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/searchController.js"></script>
<script src="js/Queue.js"></script>
<script src="js/nouislider.min.js"></script>


<script src="js/MonaGO.js"></script>
<script>



</script>
