<link rel="stylesheet"  type="text/css" href="css/index.css">
<link  rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link  rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>


<form method="post" action="" name="frmManager" id="frmManager" enctype="multipart/form-data">
<input type="Hidden" name="listType" value="null">
<input type="Hidden" name="annotCat" value="null">
<input type="Hidden" name="Mode" value="null">

<div class="bg-img">

<div class="submitFormCentered">

				<div class="header-index">
					<img src="../img/header.jpg" class="img-fluid header-img" alt="Responsive image">
				</div>

					<h2><span class="label label-primary">Step1: Enter Gene List</span></h2>
			
				
				
					<font class="regular">A: Paste a list</font>
					
					<div >
						<textarea rows="6" id="LISTBox" class="form-control" name="inputIds"></textarea>
					</div>
			
					
					
					<input type="Button" value="Clear" onclick="clearPaste();" name="B3" class="upload">

				<div class="">


							
	<!-- 						<font class="regular">B:Choose From a File</font>
							</td>
								</tr>
								<tr>
								  <td align="left" height="25">
											  <p style="word-spacing: 0; line-height: 100%; text-indent: 0; margin: 0">
											  
											  <input type="file" class="browse" name="fileBrowser" accept="text/plain" size="14">
											  
											  </p>
								  </td>
								</tr>
								<tr><td><input type="checkbox" name="cbMulti" id="cbMulti">Multi-List File <a href="/helps/multilist.html" class="jTip" id="Multi-list File Upload" name="Multi-list File Upload"><img style="border:0px;" src="images/help-icon.png"></a></td></tr> -->
							   
							
					<h2><span class="label label-primary">Step 2: Select Identifier</span></h2>
		
								<br>
								  <select class="selectpicker" data-width="300px" name="idType">
							  
											
										
									  	<option value="AFFYMETRIX_3PRIME_IVT_ID">AFFYMETRIX_3PRIME_IVT_ID</option>
											
										
									  	<option value="AFFYMETRIX_EXON_GENE_ID">AFFYMETRIX_EXON_GENE_ID</option>
											
										
									  	<option value="AFFYMETRIX_SNP_ID">AFFYMETRIX_SNP_ID</option>
											
										
									  	<option value="AGILENT_CHIP_ID">AGILENT_CHIP_ID</option>
											
										
									  	<option value="AGILENT_ID">AGILENT_ID</option>
											
										
									  	<option value="AGILENT_OLIGO_ID">AGILENT_OLIGO_ID</option>
											
										
									  	<option value="ENSEMBL_GENE_ID">ENSEMBL_GENE_ID</option>
											
										
									  	<option value="ENSEMBL_TRANSCRIPT_ID">ENSEMBL_TRANSCRIPT_ID</option>
											
										
									  	<option value="ENTREZ_GENE_ID">ENTREZ_GENE_ID</option>
											
										
									  	<option value="FLYBASE_GENE_ID">FLYBASE_GENE_ID</option>
											
										
									  	<option value="FLYBASE_TRANSCRIPT_ID">FLYBASE_TRANSCRIPT_ID</option>
											
										
									  	<option value="GENBANK_ACCESSION">GENBANK_ACCESSION</option>
											
										
									  	<option value="GENOMIC_GI_ACCESSION">GENOMIC_GI_ACCESSION</option>
											
										
									  	<option value="GENPEPT_ACCESSION">GENPEPT_ACCESSION</option>
											
										
									  	<option value="ILLUMINA_ID">ILLUMINA_ID</option>
											
										
									  	<option value="IPI_ID">IPI_ID</option>
											
										
									  	<option value="MGI_ID">MGI_ID</option>
											
										
									  	<option value="OFFICIAL_GENE_SYMBOL">OFFICIAL_GENE_SYMBOL</option>
											
										
									  	<option value="PFAM_ID">PFAM_ID</option>
											
										
									  	<option value="PIR_ID">PIR_ID</option>
											
										
									  	<option value="PROTEIN_GI_ACCESSION">PROTEIN_GI_ACCESSION</option>
											
										
									  	<option value="REFSEQ_GENOMIC">REFSEQ_GENOMIC</option>
											
										
									  	<option value="REFSEQ_MRNA">REFSEQ_MRNA</option>
											
										
									  	<option value="REFSEQ_PROTEIN">REFSEQ_PROTEIN</option>
											
										
									  	<option value="REFSEQ_RNA">REFSEQ_RNA</option>
											
										
									  	<option value="RGD_ID">RGD_ID</option>
											
										
									  	<option value="SGD_ID">SGD_ID</option>
											
										
									  	<option value="TAIR_ID">TAIR_ID</option>
											
										
									  	<option value="UCSC_GENE_ID">UCSC_GENE_ID</option>
											
										
									  	<option value="UNIGENE">UNIGENE</option>
											
										
									  	<option value="UNIPROT_ACCESSION">UNIPROT_ACCESSION</option>
											
										
									  	<option value="UNIPROT_ID">UNIPROT_ID</option>
											
										
									  	<option value="UNIREF100_ID">UNIREF100_ID</option>
											
										
									  	<option value="WORMBASE_GENE_ID">WORMBASE_GENE_ID</option>
											
										
									  	<option value="WORMPEP_ID">WORMPEP_ID</option>
											
										
									  	<option value="ZFIN_ID">ZFIN_ID</option>
								
										<option value="NA">Not Sure </option>
							 
									  </select>
							
								
							
									</p><br>
						

						<h2><span class="label label-primary">Step 3: Choose p value</span></h2>

			            <!-- <table>
							<tbody><tr>
								<td class="sidebar_text">Gene List</td>
			              		<td>
			                  <input type="radio" name="uploadType" value="0">
			                </td>
							</tr>
							<tr>
								<td class="sidebar_text">Background</td>
			              		<td><input type="radio" name="uploadType" value="1"></td>
							</tr>
						</tbody></table> -->
						<br>
						<!-- <input type="text" name="pVal" value="0.05"/> -->

			            <select class="selectpicker" data-width="200px" name="pVal">

			            	<option value="0.005">0.005</option>
							<option value="0.01">0.01</option>
			            	<option value="0.05">0.05</option>

			            </select>


        			<h2><span class="label label-primary">Step 4: Annotation Type</span></h2>

        			<br>
					
        				<select class="selectpicker show-tick" data-width="500px" name="annotType" multiple>

			            	<option value="GOTERM_BP_FAT" selected>Biological Process</option>
							<option value="GOTERM_MF_FAT">Molecule Function</option>
			            	<option value="GOTERM_CC_FAT">Cellular Component</option>

			            </select>


					<br>
					

					<div class="btn btn-success btn-rounded btn-lg submit-btn" onclick="uploadList()" 
			            >Submit</div>

					
			           
</form>

</div>

<script>

	function clearPaste(){
		document.frmManager.inputIds.value="";
	}


	function uploadList(){

		$(".submit-btn").attr('disabled','disabled'); 
		//alert("start upload");
		var FM = document.frmManager;
		
	/*	if(FM.cbMulti.checked)
		{
			FM.multiList.value="true";
		}*/

		FM.listType.value = 0;
		
/*		if(FM.uploadType[0].checked)
		{
			FM.listType.value=FM.uploadType[0].value;
		}
		else if(FM.uploadType[1].checked)
		{
			FM.listType.value=FM.uploadType[1].value;
		}
		else
		{
			alert("Error: Please specify whether this is a Gene list or a Background in step 3");
			return;
		}*/

		var annotList = []

		for(var i=0;i<3;i++){
			if(FM.annotType[i].selected)
				annotList.push(FM.annotType[i].value);
		}


		FM.annotCat.value = annotList.toString();
	/*	if(FM.fileBrowser.value !="")
		{
			FM.Mode.value="file";
			FM.action=page+".jsp";
			FM.target="";
			FM.submit();
			return;
		}*/


		if(FM.inputIds.value == ""){
			alert("Error: Please paste a list in step 1.");
			return;
		}

		

		if(FM.annotCat.value == ""){
			alert("Error: Please select annotation type in step 4.");

			return;
		}

		
		FM.inputIds.value = convertInputIds(FM.inputIds.value);
		//alert("upload:"+ident);

		
			FM.Mode.value="paste";
			FM.action="\\index";
			FM.target="";
			FM.submit();


	}

	function convertInputIds(idString){
		var idList = idString.split("\n");

		if(idList.length>1){
			idString = "";
			for(var i=0;i<idList.length;i++){
				idString += idList[i]+ ",";
			}
		}
		var lastChar = idString.length-1;
		if(idString[lastChar]==",")
			idString.slice(lastChar,1);
		return idString;
	}
</script>